<header class="wrap">
    <div class="loginWrapper">
      <div class="loginContainer">
        <a class="welcomText" href="/pages">Welcome, Administrator</a>
        <a class="loginLinks" href="#">Sign Out</a>
      </div>
    </div>
    <div class="headerWrapper">
      <a class="noHover" href="/">
        <div class="logo">
          <img class="logoImg" src="/assets/htp_ec_logo.png" width="115" height="93" alt="logo" />
          <p class="logoText">hi-Tech park educational center</p>
        </div>
      </a>
      <div class="buttonContainer">
        <a class="noHover" href="/about"><div id="link1" class="headerButton"><p class="buttonText">About us</p></div></a>
        <a class="noHover active" href="/competences"><div class="headerButton"><p class="buttonText">Our Competences</p></div></a>
        <a class="noHover" href="/contact"><div class="headerButton"><p class="buttonText">Contact us</p></div></a>
      </div>
    </div>
  </header>
  <section class="wrap main">
    <h1 class="about">&nbsp;&nbsp;our competences</h1>
    <div class="wrapper">
      <div class="wrapper-competences">
        <div class="searchWrapperCompetences">
          <form id="searchBoxCompetences" name="searchBoxCompetences" method="post">
            <input id="filter" type="search" name="s" placeholder="Search">
          </form>
        </div>
        <div class="attach-list select-list">
          <ul>
            <li><span><i class="icon-plus"></i> Agile</span></li>
              <ul>
								<li><span><i class="icon-plus"></i> Certificates</span></li>
									<ul>
										<li class="last"><span>Certified Scrum Master</span></li>
										<li class="last"><span>Certified Scrum Coach</span></li>
										<li class="last"><span>Certified Scrum Product Owner</span></li>
										<li class="last"><span>Certified Scrum Professional</span></li>
										<li class="last"><span>Certified Scrum Trainer</span></li>
										<li class="last"><span>Pair Programming</span></li>
										<li class="last"><span>Professional Scrum Master II</span></li>
										<li class="last"><span>Professional Scrum Master I</span></li>
									</ul>
                <li><span><i class="icon-plus"></i> Software Development Methodologies</span></li>
                  <ul>
                    <li class="last"><span>Acceptance Test-Driven Development</span></li>
                    <li class="last"><span>Continuous Integration</span></li>
                    <li class="last"><span>Dynamic Systems Development Method (DSDM)</span></li>
                    <li class="last"><span>Feature Driven Development (FDD)</span></li>
                    <li class="last"><span>Kanban</span></li>
                    <li class="last"><span>Pair Programming</span></li>
                    <li class="last"><span>SCRUM</span></li>
                    <li class="last"><span>Test-Driven Development</span></li>
                    <li class="last"><span>V-Model</span></li>
                  </ul>
              </ul>
            <li><span><i class="icon-plus"></i> Business Analysis</span></li>
              <ul>
                <li class="last"><span>Requirements Analysis</span></li>
              </ul>
            <li><span><i class="icon-plus"></i> Java</span></li>
              <ul>
                <li><span><i class="icon-plus"></i> Application Servers and Middleware</span></li>
                  <ul>
                    <li class="last"><span>BEA WebLogic Integrator</span></li>
                    <li class="last"><span>BEA WebLogic Portal</span></li>
                    <li class="last"><span>BEA WebLogic Server</span></li>
                    <li class="last"><span>Glassfish</span></li>
                    <li class="last"><span>IBM WebSphere Application Server</span></li>
                    <li class="last"><span>IBM WebSphere Commerce</span></li>
                    <li class="last"><span>IBM WebSphere Portal Server</span></li>
                    <li class="last"><span>IBM WebSphere Process Server</span></li>
                    <li class="last"><span>JBoss</span></li>
                    <li class="last"><span>JBoss Drools</span></li>
                    <li class="last"><span>JBoss jBPM</span></li>
                    <li class="last"><span>JBossAOP</span></li>
                    <li class="last"><span>JBossESB</span></li>
                    <li class="last"><span>JOnAS</span></li>
                    <li class="last"><span>JRun Application Server</span></li>
                    <li class="last"><span>Jakarta Tomcat</span></li>
                    <li class="last"><span>Jetty Servlet Container</span></li>
                    <li class="last"><span>Liferay</span></li>
                    <li class="last"><span>Oracle Application Server</span></li>
                    <li class="last"><span>Oracle Forms Server</span></li>
                    <li class="last"><span>Oracle Portal</span></li>
                    <li class="last"><span>Oracle Reports Server</span></li>
                    <li class="last"><span>Oracle SOA suite</span></li>
                    <li class="last"><span>Orion Application Server</span></li>
                    <li class="last"><span>Orion NPM</span></li>
                    <li class="last"><span>Sun Java System Application Server</span></li>
                    <li class="last"><span>Sun Java System Web Server</span></li>
                  </ul>
                <li><span><i class="icon-plus"></i> Building Tools</span></li>
                  <ul>
                    <li class="last"><span>Apache Buildr</span></li>
                    <li class="last"><span>Gradle</span></li>
                    <li class="last"><span>Ivy</span></li>
                    <li class="last"><span>Maven</span></li>
                  </ul>
								<li><span><i class="icon-plus"></i> Certificates</span></li>
									<ul>
										<li class="last"><span>Oracle Certified Associate, Java SE 7 Programmer</span></li>
										<li class="last"><span>Oracle Certified Expert, Java EE 6 Enterprise JavaBeans Developer</span></li>
										<li class="last"><span>Oracle Certified Expert, Java EE 6 Java Persistence API Developer</span></li>
										<li class="last"><span>Oracle Certified Expert, Java EE 6 Web Component Developer</span></li>
										<li class="last"><span>Oracle Certified Expert, Java EE 6 Web Services Developer</span></li>
										<li class="last"><span>Oracle Certified Master, Java EE 5 Enterprise Architect</span></li>
										<li class="last"><span>Oracle Certified Professional, Java SE 6 Programmer</span></li>
										<li class="last"><span>Oracle Certified Professional, Java SE 7 Programmer</span></li>
										<li class="last"><span>Spring: Core Spring</span></li>
										<li class="last"><span>Sun Certified Business Component Developer for the Java 2 Platform, Enterprise Edition</span></li>
										<li class="last"><span>Sun Certified Business Component Developer for the Java Platform, Enterprise Edition 5</span></li>
										<li class="last"><span>Sun Certified Developer for Java Web Services</span></li>
										<li class="last"><span>Sun Certified Developer for the Java 2 Platform, Standard Edition</span></li>
										<li class="last"><span>Sun Certified Enterprise Architect For The Java 2 Platform, Enterprise Edition</span></li>
										<li class="last"><span>Sun Certified Programmer for Java 2 Platform 1.4</span></li>
										<li class="last"><span>Sun Certified Programmer for Java 2 Platform 5.0</span></li>
										<li class="last"><span>Sun Certified Programmer for the Java 2 Platform, Standard Edition</span></li>
										<li class="last"><span>Sun Certified Programmer for the Java Platform, Standard Edition 6</span></li>
										<li class="last"><span>Sun Certified Web Component Developer for the Java 2 Platform, Enterprise Edition</span></li>
										<li class="last"><span>Sun Certified Web Component Developer for the Java Platform, Enterprise Edition 5</span></li>
									</ul>
                <li><span><i class="icon-plus"></i> Integrated Development Environments</span></li>
                  <ul>
                    <li class="last"><span>Borland JBuilder</span></li>
                    <li class="last"><span>Eclipse IDE</span></li>
                    <li class="last"><span>Eclipse Platform</span></li>
                    <li class="last"><span>IntelliJ IDEA</span></li>
                    <li class="last"><span>MyEclipse</span></li>
                    <li class="last"><span>NetBeans IDE</span></li>
                    <li class="last"><span>NetBeans/Sun Java Studio</span></li>
                    <li class="last"><span>Oracle JDeveloper</span></li>
                  </ul>
                <li><span><i class="icon-plus"></i> Internet Technologies</span></li>
                  <ul>
                    <li class="last"><span>CXF</span></li>
                    <li class="last"><span>JAX-RS</span></li>
                    <li class="last"><span>JAX-WS</span></li>
                    <li class="last"><span>JSTL</span></li>
                    <li class="last"><span>Java Applets</span></li>
                    <li class="last"><span>Java Portlets</span></li>
                    <li class="last"><span>Java Server Faces (JSF)</span></li>
                    <li class="last"><span>Java Server Pages (JSP)</span></li>
                    <li class="last"><span>Java Servlets</span></li>
                    <li class="last"><span>Vaadin</span></li>
                  </ul>
                <li><span><i class="icon-plus"></i> J2EE Frameworks</span></li>
                  <ul>
                    <li class="last"><span>Apache Lucene</span></li>
                    <li class="last"><span>Apache OpenJPA</span></li>
                    <li class="last"><span>Apache Sling</span></li>
                    <li class="last"><span>Apache Struts</span></li>
                    <li class="last"><span>Apache Struts 2</span></li>
                    <li class="last"><span>Apache Wicket</span></li>
                    <li class="last"><span>EclipseLink</span></li>
                    <li class="last"><span>Grails</span></li>
                    <li class="last"><span>Hibernate</span></li>
                    <li class="last"><span>ICEfaces</span></li>
                    <li class="last"><span>JBoss Seam</span></li>
                    <li class="last"><span>JPA</span></li>
                    <li class="last"><span>JavaServer Faces View Definition Framework (Facelets)</span></li>
                    <li class="last"><span>Oracle ADF Faces JSF Components</span></li>
                    <li class="last"><span>Oracle Application Developer Framework (ADF)</span></li>
                    <li class="last"><span>PrimeFaces</span></li>
                    <li class="last"><span>Richfaces</span></li>
                    <li class="last"><span>Spring Framework</span></li>
                    <li class="last"><span>Stripes</span></li>
                    <li class="last"><span>Tapestry</span></li>
                    <li class="last"><span>TopLink</span></li>
                    <li class="last"><span>Velocity</span></li>
                    <li class="last"><span>WebWork</span></li>
                    <li class="last"><span>iBATIS</span></li>
                  </ul>
                <li><span><i class="icon-plus"></i> Messaging Systems</span></li>
                  <ul>
                    <li class="last"><span>Apache ActiveMQ</span></li>
                    <li class="last"><span>IBM WebSphere Message Queuing</span></li>
                    <li class="last"><span>Java Message Service (JMS)</span></li>
                    <li class="last"><span>JavaMail</span></li>
                  </ul>
                <li><span><i class="icon-plus"></i> Programming Languages</span></li>
                  <ul>
                    <li class="last"><span>Clojure</span></li>
                    <li class="last"><span>Groovy</span></li>
                    <li class="last"><span>Java</span></li>
                    <li class="last"><span>Scala</span></li>
                  </ul>
                <li><span><i class="icon-plus"></i> Programming Technologies</span></li>
                  <ul>
                    <li class="last"><span>AspectJ</span></li>
                    <li class="last"><span>Atlassian Plugin Development Platform</span></li>
                    <li class="last"><span>EJB</span></li>
                    <li class="last"><span>Eclipse RCP</span></li>
                    <li class="last"><span>Eclipse SWT</span></li>
                    <li class="last"><span>J2EE</span></li>
                    <li class="last"><span>J2SE</span></li>
                    <li class="last"><span>JAXB</span></li>
                    <li class="last"><span>JDO</span></li>
                    <li class="last"><span>Java Beans</span></li>
                    <li class="last"><span>javassist</span></li>
                  </ul>
                <li><span><i class="icon-plus"></i> Rich Internet Applications</span></li>
                  <ul>
                    <li class="last"><span>JavaFX</span></li>
                  </ul>
              </ul>
            <li><span><i class="icon-plus"></i> Media &amp; Entertainment</span></li>
              <ul>
                <li><span><i class="icon-plus"></i> Technology Areas</span></li>
                  <ul>
                    <li class="last"><span>CMS for M&amp;E</span></li>
                    <li class="last"><span>Content Delivery Networks</span></li>
                    <li class="last"><span>Data Distribution</span></li>
                    <li class="last"><span>Digital Audit and Digital Strategy</span></li>
                    <li class="last"><span>Media Analytics and Reporting</span></li>
                    <li class="last"><span>Media Players and Video Streaming</span></li>
                    <li class="last"><span>Smart TV and Connected Devices</span></li>
                    <li class="last"><span>Social Media</span></li>
                    <li class="last"><span>TV Everywhere</span></li>
                  </ul>
              </ul>
            <li><span><i class="icon-plus"></i> Microsoft Technologies</span></li>
              <ul>
                <li><span><i class="icon-plus"></i> .NET Technologies</span></li>
                  <ul>
                    <li class="last"><span>.NET Remoting</span></li>
                    <li class="last"><span>ADO.NET</span></li>
                    <li class="last"><span>BLToolkit</span></li>
                    <li class="last"><span>Dapper</span></li>
                    <li class="last"><span>Entity Framework</span></li>
                    <li class="last"><span>LINQ</span></li>
                    <li class="last"><span>MS Silverlight (WPF/E)</span></li>
                    <li class="last"><span>NHibernate</span></li>
                    <li class="last"><span>WinForms</span></li>
                    <li class="last"><span>Windows Communication Foundation</span></li>
                    <li class="last"><span>Windows Identity Foundation</span></li>
                    <li class="last"><span>Windows Presentation Foundation</span></li>
                    <li class="last"><span>Windows Workflow Foundation</span></li>
                    <li class="last"><span>XAML</span></li>
                    <li class="last"><span>XNA</span></li>
                  </ul>
                <li><span><i class="icon-plus"></i> Application Servers and Middleware</span></li>
                  <ul>
                    <li class="last"><span>MS Message Queue Server</span></li>
                    <li class="last"><span>MS System Center Configuration Manager</span></li>
                    <li class="last"><span>MS Systems Management Server</span></li>
                    <li class="last"><span>MS Transaction Server</span></li>
                    <li class="last"><span>Microsoft Commerce Server</span></li>
                    <li class="last"><span>Microsoft Office SharePoint Designer 2007</span></li>
                    <li class="last"><span>Microsoft Office SharePoint Designer 2010</span></li>
                    <li class="last"><span>Microsoft Operations Manager (MOM)</span></li>
                    <li class="last"><span>Microsoft SharePoint Online</span></li>
                    <li class="last"><span>Microsoft SharePoint Portal</span></li>
                    <li class="last"><span>Microsoft System Center Operations Manager (SCOM)</span></li>
                  </ul>
                <li><span><i class="icon-plus"></i> Building Tools</span></li>
                  <ul>
                    <li class="last"><span>MSBuild</span></li>
                  </ul>
								<li><span><i class="icon-plus"></i> Certificates</span></li>
									<ul>
										<li class="last"><span>ADAM Certified Developer</span></li>
										<li class="last"><span>AIIM: SharePoint Master</span></li>
										<li class="last"><span>AIIM: SharePoint Practitioner</span></li>
										<li class="last"><span>AIIM: SharePoint Specialist</span></li>
										<li class="last"><span>MCA: Microsoft SharePoint Server</span></li>
										<li class="last"><span>MCITP: Business Intelligence Developer 2008</span></li>
										<li class="last"><span>MCITP: SharePoint Administrator 2010</span></li>
										<li class="last"><span>MCPD: SharePoint Developer 2010</span></li>
										<li class="last"><span>MCSA: SQL Server 2008</span></li>
										<li class="last"><span>MCSE: Messaging on Microsoft Windows Server 2003</span></li>
										<li class="last"><span>MCSE: Security on Microsoft Windows Server 2003</span></li>
										<li class="last"><span>MCTS: .NET Framework 4, Data Access</span></li>
										<li class="last"><span>MCTS: .NET Framework 4, Service Communications Applications</span></li>
										<li class="last"><span>MCTS: .NET Framework 4, Web Applications</span></li>
										<li class="last"><span>MCTS: .NET Framework 4, Windows Applications</span></li>
										<li class="last"><span>MCTS: Microsoft Dynamics AX 2009 Installation & Configuration</span></li>
										<li class="last"><span>MCTS: Microsoft Office SharePoint Server 2007, Configuration</span></li>
										<li class="last"><span>MCTS: Microsoft SharePoint 2010, Application Development</span></li>
										<li class="last"><span>MCTS: Microsoft SharePoint 2010, Configuring</span></li>
										<li class="last"><span>MCTS: Microsoft Windows SharePoint Services 3.0, Application Development</span></li>
										<li class="last"><span>MCTS: Microsoft Windows SharePoint Services 3.0, Configuration</span></li>
										<li class="last"><span>MCTS: Silverlight 4, Development</span></li>
										<li class="last"><span>MCTS: SQL Server 2005, Implementation and Maintenance</span></li>
										<li class="last"><span>MCTS: SQL Server 2008, Business Intelligence Development and Maintenance</span></li>
										<li class="last"><span>MCTS: SQL Server 2008, Database Development</span></li>
										<li class="last"><span>MCTS: SQL Server 2008, Implementation and Maintenance</span></li>
										<li class="last"><span>MCTS: Windows 7 – Configuration</span></li>
										<li class="last"><span>MCTS: Windows Communication Foundation Development with Microsoft .NET Framework 4</span></li>
										<li class="last"><span>MCTS: Windows Server® 2008 Applications Infrastructure, Configuration</span></li>
										<li class="last"><span>MCTS: Windows Server® 2008 Network Infrastructure, Configuration</span></li>
										<li class="last"><span>Microsoft Business Solutions - Navision 4.0 Financials</span></li>
										<li class="last"><span>Microsoft Business Solutions - Navision 4.0 Relationship Management</span></li>
										<li class="last"><span>Microsoft Business Solutions - Navision 4.0 Trade and Inventory</span></li>
										<li class="last"><span>Microsoft Certified Application Developer</span></li>
										<li class="last"><span>Microsoft Certified Database Administrator</span></li>
										<li class="last"><span>Microsoft Certified IT Professional</span></li>
										<li class="last"><span>Microsoft Certified IT Professional (MCITP): Enterprise Messaging Administrator</span></li>
										<li class="last"><span>Microsoft Certified IT Professional (MCITP:VA): Windows Server 2008 R2, Virtualization Administrator</span></li>
										<li class="last"><span>Microsoft Certified IT Professional: Database Developer</span></li>
										<li class="last"><span>Microsoft Certified IT Professional: Enterprise Administrator on Windows Server ® 2008</span></li>
										<li class="last"><span>Microsoft Certified IT Professional: Enterprise Support Technician</span></li>
										<li class="last"><span>Microsoft Certified Master: Microsoft Exchange Server 2007</span></li>
									</ul>
                <li><span><i class="icon-plus"></i> Defect Tracking</span></li>
                  <ul>
                    <li class="last"><span>Microsoft RAID</span></li>
                    <li class="last"><span>Team System/TFS</span></li>
                  </ul>
                <li><span><i class="icon-plus"></i> Front-end Tools</span></li>
                  <ul>
                    <li class="last"><span>Microsoft Expression Blend</span></li>
                    <li class="last"><span>Microsoft Expression Web</span></li>
                    <li class="last"><span>Microsoft FrontPage</span></li>
                  </ul>
                <li><span><i class="icon-plus"></i> Graphics and Multimedia</span></li>
                  <ul>
                    <li class="last"><span>DirectX</span></li>
                    <li class="last"><span>GDI</span></li>
                    <li class="last"><span>GDI+</span></li>
                  </ul>
                <li><span><i class="icon-plus"></i> Installation Packages</span></li>
                  <ul>
                    <li class="last"><span>ClickOnce</span></li>
                    <li class="last"><span>Windows Installer</span></li>
                    <li class="last"><span>Windows Installer XML (WiX)</span></li>
                  </ul>
                <li><span><i class="icon-plus"></i> Integrated Development Environments</span></li>
                  <ul>
                    <li class="last"><span>#develop (SharpDevelop)</span></li>
                    <li class="last"><span>MS Visual Studio</span></li>
                    <li class="last"><span>MS Windows XP Embedded Studio</span></li>
                  </ul>
                <li><span><i class="icon-plus"></i> Internet Technologies</span></li>
                  <ul>
                    <li class="last"><span>ASP.NET AJAX</span></li>
                    <li class="last"><span>ASP.NET MVC</span></li>
                    <li class="last"><span>ASP.Net</span></li>
                    <li class="last"><span>Active Server Pages (ASP)</span></li>
                    <li class="last"><span>Internet Server API (ISAPI)</span></li>
                    <li class="last"><span>Windows Media Services</span></li>
                  </ul>
                <li><span><i class="icon-plus"></i> Messaging Systems</span></li>
                  <ul>
                    <li class="last"><span>Internet Information Services</span></li>
                    <li class="last"><span>MAPI</span></li>
                    <li class="last"><span>Microsoft Exchange Server</span></li>
                    <li class="last"><span>Microsoft Message Queuing</span></li>
                  </ul>
                <li><span><i class="icon-plus"></i> Modeling Tools</span></li>
                  <ul>
                    <li class="last"><span>Visual Studio/TFS</span></li>
                  </ul>
                <li><span><i class="icon-plus"></i> Operating Systems</span></li>
                  <ul>
                    <li class="last"><span>Windows 8</span></li>
                    <li class="last"><span>Windows CE</span></li>
                    <li class="last"><span>Windows Embedded</span></li>
                    <li class="last"><span>Windows Mobile</span></li>
                    <li class="last"><span>Windows Phone 7</span></li>
                  </ul>
                <li><span><i class="icon-plus"></i> Programming Languages</span></li>
                  <ul>
                    <li class="last"><span>C#</span></li>
                    <li class="last"><span>DAX</span></li>
                    <li class="last"><span>F#</span></li>
                    <li class="last"><span>MDX</span></li>
                    <li class="last"><span>T-SQL</span></li>
                    <li class="last"><span>VB.Net</span></li>
                    <li class="last"><span>Visual Basic</span></li>
                  </ul>
                <li><span><i class="icon-plus"></i> Programming Technologies</span></li>
                  <ul>
                    <li class="last"><span>ATL</span></li>
                    <li class="last"><span>ActiveX</span></li>
                    <li class="last"><span>COM (including DCOM, COM+)</span></li>
                    <li class="last"><span>MFC</span></li>
                    <li class="last"><span>Microsoft. .NET</span></li>
                    <li class="last"><span>Mono</span></li>
                    <li class="last"><span>STL</span></li>
                    <li class="last"><span>Visual Studio Add-Ons</span></li>
                    <li class="last"><span>WTL</span></li>
                    <li class="last"><span>WinAPI</span></li>
                    <li class="last"><span>WinRT (Windows 8)</span></li>
                    <li class="last"><span>Windows Driver Kit</span></li>
                    <li class="last"><span>Windows Filtering Platform</span></li>
                    <li class="last"><span>Windows kernel</span></li>
                  </ul>
                <li><span><i class="icon-plus"></i> RDBMS</span></li>
                  <ul>
                    <li class="last"><span>Database. Microsoft SQL Server</span></li>
                    <li class="last"><span>MS Visual FoxPro</span></li>
                    <li class="last"><span>Microsoft SQL Server Compact</span></li>
                  </ul>
                <li><span><i class="icon-plus"></i> Reporting Systems</span></li>
                  <ul>
                    <li class="last"><span>MS Access</span></li>
                  </ul>
                <li><span><i class="icon-plus"></i> Scripting Languages</span></li>
                  <ul>
                    <li class="last"><span>C# Script</span></li>
                    <li class="last"><span>Microsoft PowerShell</span></li>
                    <li class="last"><span>VBScript</span></li>
                  </ul>
                <li><span><i class="icon-plus"></i> Service Management Methodologies/Frameworks</span></li>
                  <ul>
                    <li class="last"><span>Microsoft Operations Framework (MOF)</span></li>
                  </ul>
                <li><span><i class="icon-plus"></i> Version Control Systems</span></li>
                  <ul>
                    <li class="last"><span>Microsoft VSS</span></li>
                    <li class="last"><span>Team Foundation Version Control</span></li>
                  </ul>
                <li><span><i class="icon-plus"></i> Virtualization Tools</span></li>
                  <ul>
                    <li class="last"><span>Microsoft Virtual Machine Manager</span></li>
                    <li class="last"><span>Microsoft Virtual PC</span></li>
                    <li class="last"><span>Microsoft Virtual Server 2005 R2</span></li>
                  </ul>
              </ul>
            <li><span><i class="icon-plus"></i> Mobile Technologies</span></li>
              <ul>
                <li class="last"><span>Adobe AIR</span></li>
                <li class="last"><span>Adobe CQ Mobile</span></li>
                <li class="last"><span>Android Tablet</span></li>
                <li class="last"><span>Antix</span></li>
                <li class="last"><span>AppMkr</span></li>
                <li class="last"><span>AppMobi</span></li>
                <li class="last"><span>Bedrock</span></li>
                <li class="last"><span>Blackberry Tablet</span></li>
                <li class="last"><span>Cocos2D</span></li>
                <li class="last"><span>Corona</span></li>
                <li class="last"><span>DHTMLX</span></li>
                <li class="last"><span>Eqela</span></li>
                <li class="last"><span>GWT</span></li>
                <li class="last"><span>Games Salad</span></li>
                <li class="last"><span>HTML5/CSS3</span></li>
                <li class="last"><span>Impact JS</span></li>
                <li class="last"><span>J2ME</span></li>
                <li class="last"><span>JQTouch</span></li>
                <li class="last"><span>JQuery Mobile</span></li>
                <li class="last"><span>Kony</span></li>
                <li class="last"><span>LimeJS</span></li>
                <li class="last"><span>Marmelade</span></li>
                <li class="last"><span>MoSync</span></li>
                <li class="last"><span>Mobile Nation HQ</span></li>
                <li class="last"><span>Mobile. Android</span></li>
                <li class="last"><span>Mobile. Blackberry</span></li>
                <li class="last"><span>Mobile. Other Cross-Platform</span></li>
                <li class="last"><span>Mobile. Windows Phone</span></li>
                <li class="last"><span>Mobile. iOS</span></li>
                <li class="last"><span>Mobjectify</span></li>
                <li class="last"><span>MonoDroid</span></li>
                <li class="last"><span>MonoTouch</span></li>
                <li class="last"><span>Netbiscuits</span></li>
                <li class="last"><span>Nimblekit</span></li>
                <li class="last"><span>PhoneGap</span></li>
                <li class="last"><span>QT</span></li>
                <li class="last"><span>QuickConnectFamily</span></li>
                <li class="last"><span>Red Foundry</span></li>
                <li class="last"><span>Rhodes</span></li>
                <li class="last"><span>RunRev (Livecode)</span></li>
                <li class="last"><span>Samsung Bada</span></li>
                <li class="last"><span>Sencha Touch</span></li>
                <li class="last"><span>Spot Specific</span></li>
                <li class="last"><span>Symbian</span></li>
                <li class="last"><span>Tiggzi</span></li>
                <li class="last"><span>Titanium</span></li>
                <li class="last"><span>Unity</span></li>
                <li class="last"><span>UsableNet</span></li>
                <li class="last"><span>Uxebu (Aparrat.io)</span></li>
                <li class="last"><span>Webdesign</span></li>
                <li class="last"><span>Whoop</span></li>
                <li class="last"><span>WidgetPad</span></li>
                <li class="last"><span>Windows Tablet</span></li>
                <li class="last"><span>Wix Mobile</span></li>
                <li class="last"><span>XMLVM</span></li>
                <li class="last"><span>XUI</span></li>
                <li class="last"><span>Xamarin</span></li>
                <li class="last"><span>Zepto JS</span></li>
                <li class="last"><span>iPad</span></li>
                <li class="last"><span>iPhone</span></li>
                <li class="last"><span>iUI</span></li>
              </ul>
            <li><span><i class="icon-plus"></i> Testing</span></li>
              <ul>
                <li><span><i class="icon-plus"></i> Test Levels</span></li>
                  <ul>
                    <li class="last"><span>GUI Testing</span></li>
                    <li class="last"><span>Integration testing: internal component/services &amp; external integration points</span></li>
                    <li class="last"><span>Mobile Testing</span></li>
                    <li class="last"><span>SOA Testing</span></li>
                    <li class="last"><span>Testing Frameworks</span></li>
                    <li class="last"><span>Testing. Automated Testing</span></li>
                    <li class="last"><span>Testing. Functional testing</span></li>
                    <li class="last"><span>Testing. Performance testing</span></li>
                    <li class="last"><span>Unit testing: API level, coded tests, automated running</span></li>
                  </ul>
                <li><span><i class="icon-plus"></i> Testing Tools</span></li>
                  <ul>
                    <li><span><i class="icon-plus"></i> Automated Testing</span></li>
                      <ul>
                        <li class="last"><span>API Test Tool</span></li>
                        <li class="last"><span>Abbot</span></li>
                        <li class="last"><span>Apache JMeter</span></li>
                        <li class="last"><span>AutoIT</span></li>
                        <li class="last"><span>AutomatedQA TestComplete</span></li>
                        <li class="last"><span>Boost Test</span></li>
                        <li class="last"><span>Compuware TestPartner</span></li>
                        <li class="last"><span>Concordion</span></li>
                        <li class="last"><span>CppUnit</span></li>
                        <li class="last"><span>Cucumber</span></li>
                        <li class="last"><span>DbUnit</span></li>
                        <li class="last"><span>Dogtail</span></li>
                        <li class="last"><span>EasyMock</span></li>
                        <li class="last"><span>Empirix eLoad</span></li>
                        <li class="last"><span>Empirix eTester</span></li>
                        <li class="last"><span>FACTS (FIX Automated Certification and Testing)</span></li>
                        <li class="last"><span>FEST</span></li>
                        <li class="last"><span>FitNesse</span></li>
                        <li class="last"><span>Google Mock</span></li>
                        <li class="last"><span>Google Test</span></li>
                        <li class="last"><span>Green Hat Performer</span></li>
                        <li class="last"><span>Green Hat Tester</span></li>
                        <li class="last"><span>GreenPepper</span></li>
                        <li class="last"><span>Grinder</span></li>
                        <li class="last"><span>HP Service Test</span></li>
                        <li class="last"><span>HTTPUnit</span></li>
                        <li class="last"><span>HtmlUnit</span></li>
                        <li class="last"><span>IBM Rational Functional Tester</span></li>
                        <li class="last"><span>JSFUnit</span></li>
                        <li class="last"><span>JUnit/NUnit</span></li>
                        <li class="last"><span>JWebUnit</span></li>
                        <li class="last"><span>MOQ</span></li>
                        <li class="last"><span>MS UI Automation framework</span></li>
                        <li class="last"><span>Marathon</span></li>
                        <li class="last"><span>Mercury Interactive LoadRunner</span></li>
                        <li class="last"><span>Mercury Interactive WinRunner</span></li>
                        <li class="last"><span>Mercury QuickTest Pro</span></li>
                        <li class="last"><span>Microsoft Coded UI</span></li>
                        <li class="last"><span>Microsoft Silverlight Unit Test Framework</span></li>
                        <li class="last"><span>Microsoft Test Services</span></li>
                        <li class="last"><span>Mockito</span></li>
                        <li class="last"><span>Mynah</span></li>
                        <li class="last"><span>NMock</span></li>
                        <li class="last"><span>OpenSTA</span></li>
                        <li class="last"><span>PEX</span></li>
                        <li class="last"><span>RIATest</span></li>
                        <li class="last"><span>Ranorex</span></li>
                        <li class="last"><span>Rational Robot</span></li>
                        <li class="last"><span>Rational TeamTest</span></li>
                        <li class="last"><span>Rational XDE Tester</span></li>
                        <li class="last"><span>Rhino.Mocks</span></li>
                        <li class="last"><span>Robot Framework</span></li>
                        <li class="last"><span>Robotium</span></li>
                        <li class="last"><span>Rspec</span></li>
                        <li class="last"><span>SOAtest</span></li>
                        <li class="last"><span>Scala Test</span></li>
                        <li class="last"><span>Segue SilkPerformer</span></li>
                        <li class="last"><span>Segue SilkTest</span></li>
                        <li class="last"><span>Selenium</span></li>
                        <li class="last"><span>Sikuli</span></li>
                        <li class="last"><span>SpecFlow</span></li>
                        <li class="last"><span>Squish</span></li>
                        <li class="last"><span>StressTester</span></li>
                        <li class="last"><span>TAF Core</span></li>
                        <li class="last"><span>TOSCA Testsuite</span></li>
                        <li class="last"><span>Telerik Free Testing Framework</span></li>
                        <li class="last"><span>Telerik Test Studio</span></li>
                        <li class="last"><span>TestMaker</span></li>
                        <li class="last"><span>TestNG</span></li>
                        <li class="last"><span>Thucydides</span></li>
                        <li class="last"><span>UnitTest++</span></li>
                        <li class="last"><span>Unitils</span></li>
                        <li class="last"><span>Visual Studio Team System (VSTS)</span></li>
                        <li class="last"><span>WatiN</span></li>
                        <li class="last"><span>Watir</span></li>
                        <li class="last"><span>WindowTester Pro</span></li>
                        <li class="last"><span>eggPlant</span></li>
                        <li class="last"><span>jBehave</span></li>
                        <li class="last"><span>jMock</span></li>
                        <li class="last"><span>soapUI</span></li>
                      </ul>
                    <li><span><i class="icon-plus"></i> Test Management Tools</span></li>
                      <ul>
                        <li class="last"><span>Borland SilkCentral</span></li>
                        <li class="last"><span>Enterprise Tester</span></li>
                        <li class="last"><span>FIT (Framework for Integrated Test)</span></li>
                        <li class="last"><span>Mercury Quality Center</span></li>
                        <li class="last"><span>Microsoft Test Manager</span></li>
                        <li class="last"><span>QA Director</span></li>
                        <li class="last"><span>TestLink</span></li>
                      </ul>
                  </ul>
              </ul>
            <li><span><i class="icon-plus"></i> UXD</span></li>
              <ul>
                <li><span><i class="icon-plus"></i> Animation and Video Production</span></li>
                  <ul>
                    <li class="last"><span>3D Animation</span></li>
                    <li class="last"><span>Flash Animation</span></li>
                    <li class="last"><span>Motion Art Direction</span></li>
                    <li class="last"><span>Motion Design</span></li>
                    <li class="last"><span>Video Editing</span></li>
                    <li class="last"><span>Video Production</span></li>
                  </ul>
                <li><span><i class="icon-plus"></i> Content Development</span></li>
                  <ul>
                    <li class="last"><span>Content Planning</span></li>
                    <li class="last"><span>Copywriting</span></li>
                  </ul>
                <li><span><i class="icon-plus"></i> Design Tools</span></li>
                  <ul>
                    <li class="last"><span>Adobe After Effects</span></li>
                    <li class="last"><span>Adobe Fireworks</span></li>
                    <li class="last"><span>Adobe Illustrator</span></li>
                    <li class="last"><span>Adobe ImageReady</span></li>
                    <li class="last"><span>Adobe InDesign</span></li>
                    <li class="last"><span>Adobe Muse</span></li>
                    <li class="last"><span>Adobe Photoshop</span></li>
                    <li class="last"><span>Adobe designer</span></li>
                    <li class="last"><span>Balsamiq Mockups</span></li>
                    <li class="last"><span>Corel Draw</span></li>
                    <li class="last"><span>Corel Xara</span></li>
                    <li class="last"><span>EyeBlaster Workshop</span></li>
                    <li class="last"><span>GIMP</span></li>
                    <li class="last"><span>Inkscape</span></li>
                    <li class="last"><span>Macromedia Director</span></li>
                    <li class="last"><span>Microsoft Expression Design</span></li>
                    <li class="last"><span>SWiSH Max</span></li>
                    <li class="last"><span>UXD. Adobe Flex</span></li>
                    <li class="last"><span>Ulead PhotoImpact</span></li>
                  </ul>
                <li><span><i class="icon-plus"></i> Development</span></li>
                  <ul>
                    <li class="last"><span>(X)CSS Development</span></li>
                    <li class="last"><span>(X)HTML Development</span></li>
                    <li class="last"><span>Accessibility and Compliance (508)</span></li>
                    <li class="last"><span>Adobe Catalyst</span></li>
                    <li class="last"><span>Adobe Flash</span></li>
                    <li class="last"><span>Adobe Flash Builder</span></li>
                    <li class="last"><span>Adobe Flex</span></li>
                    <li class="last"><span>Crossbrowser Coding</span></li>
                    <li class="last"><span>Print Adaptation</span></li>
                  </ul>
              </ul>
          </ul>
        </div>
        <!--<div id="message"></div>-->
      </div>
    </div>
  </section>
  <footer class="wrap">
    <div class="footerWrapper">
      <div class="footerBox">
        <p>&copy; 2013, human resource management system</p>
        <a href="/about">About us</a>
        <a class="active" href="/competences">Our Competences</a>
        <a href="/contact">Contact us</a>
      </div>
    </div>
  </footer>