%html
  %head
    %title Our Competences
  %body
    %header.wrap
      .loginWrapper
        .loginContainer
          %a.welcomText{href: "/pages"} Welcome, Administrator
          %a.loginLinks{href: "#"} Sing In
      .headerWrapper
        %a.noHover{href: root_path}
          .logo
            %img.logoImg{alt: "logo", height: "93", src: "/assets/htp_ec_logo.png", width: "115"}/
            %p.logoText Hi-Tech Park Educational Center
        .buttonContainer
          %a.noHover{href: "/about"}
            #link1.headerButton
              %p.buttonText About us
          %a.noHover{href: "/competences"}
            .headerButton
              %p.buttonText Our Competences
          %a.noHover{href: "/contact"}
            .headerButton
              %p.buttonText Contact us
    %section.wrap.main
      %h1.about   our competences
      .wrapper
        .wrapper-competences
          .searchWrapperCompetences
            %form#searchBoxCompetences{method: "post", name: "searchBoxCompetences"}
              %input#filter{name: "s", placeholder: "Search", type: "search"}/
          .attach-list.select-list
          / <div id="message"></div>
    %footer.wrap
      .footerWrapper
        .footerBox
          %p © 2013, human resource management system
          %a{href: "/about"} About us
          %a{href: "/competences"} Our Competences
          %a{href: "/contact"} Contact us