<html>
<body>
  <header class="pageHeader">
    <div class="loginWrapper">
      <div class="loginContainer">
        <a class="welcomText" href="/pages">Welcome, Guest</a>
        <div class="loginLinks">
          <a href="rms-info/login">Sign In</a>
        </div>
      </div>
    </div>
    <div class="headerWrapper">
      <a class="noHover" href="#1">
        <div class="logo">
          <img class="logoImg" src="assets/htp_ec_logo.png" width="115" height="93" alt="logo" />
          <p class="logoText">hi-Tech park educational center</p>
        </div>
      </a>
      <div class="buttonContainer">
        <a class="noHover" href="/about"><div id="link1" class="headerButton"><p class="buttonText">About us</p></div></a>
        <a class="noHover" href="/competences"><div class="headerButton"><p class="buttonText">Our Competences</p></div></a>
        <a class="noHover" href="/contact"><div class="headerButton"><p class="buttonText">Contact us</p></div></a>
      </div>
    </div>
  </header>
  <section class="pagesFunctionality">
    <div class="bodyWrapper">
      <div id="hrmsCarousel" class="carousel slide">
        <ol class="carousel-indicators">
          <li data-target="#" data-slide-to="0" class="active"></li>
          <li data-target="#" data-slide-to="1"></li>
          <li data-target="#" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="active item">
            <img src="assets/ruby.jpg" width="1024" height="480" alt="slideshow" />
            <div class="carousel-caption">
              <p class="corouselTittle">hrms ruby</p>
              <p class="corouselText">Info Module is an integrant part of HRMS Info project and is being developed 
                using Ruby on Rails technology.
              </p>
            </div>
          </div>
          <div class="item">
            <img src="assets/htp.jpg" width="1024" height="480" alt="slideshow" />
            <div class="carousel-caption">
              <p class="corouselTittle">hrms htp</p>
              <p class="corouselText">Practical HRMS Info project is aimed at training of IT sphere beginners for
                successful career start.
              </p>
            </div>
          </div>
          <div class="item">
            <img src="assets/chip.jpg" width="1024" height="480" alt="slideshow" />
            <div class="carousel-caption">
              <p class="corouselTittle">hrms chip</p>
              <p class="corouselText">Training programs of HTP Educational Center help to meet rapidly growing demand
                on IT specialists.
              </p>
            </div>
          </div>
        </div>
        <a class="carousel-control left" href="#hrmsCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#hrmsCarousel" data-slide="next">&rsaquo;</a>
      </div>
      <div class="searchWrapper">
        <div class="textBox">
          <h1>We have the resources you need</h1>
          <h2>Think about your needs & see your candidates now</h2>
        </div>
        <form class="searchBox">
          <input type="search" placeholder="Search..." name="s">
          <img class="buttonSearch" src="assets/filter_icon_green.png" width="17" height="17" alt="search" />
        </form>
      </div>
    </div>
    <div class="newsWrapper">
      <div class="newsBox">
        <div class="newsBlock">
          <a class="noHover" href="#4">
            <div class="newsTittle">
              <p>Professional</p>
              <h2>research</h2>
            </div>
            <img src="assets/box01.jpg" width="330" height="140" alt="news" />
          </a>
          <a href="#4">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae elit facilisis, fermentum ipsum a,
              consectetur urna.
            </p>
          </a>
        </div>
        <div class="newsBlock midBlock">
          <a class="noHover" href="#5">
            <div class="newsTittle">
              <p>Attention</p>
              <h2>to detail</h2>
            </div>
            <img src="assets/box02.jpg" width="330" height="140" alt="news" />
          </a>
          <a href="#5">
            <p>Cras ultricies non eros sit amet ultricies. Nunc scelerisque arcu vitae sapien posuere luctus.
              Quisque at lorem augue.
            </p>
          </a>
        </div>
        <div class="newsBlock">
          <a class="noHover" href="#6">
            <div class="newsTittle">
              <p>Our</p>
              <h2>projects</h2>
            </div>
            <img src="assets/box03.jpg" width="330" height="140" alt="news" />
          </a>
          <a href="#6">
            <p>Ut vel lacus quis lacus auctor tincidunt et a felis. Ut interdum porta ante, et imperdiet neque molestie at.</p>
          </a>
        </div>
      </div>
    </div>
  </section>
  <footer class="pageFooter">
    <div class="footerWrapper">
      <div class="footerBox">
        <p>&copy; 2013, human resource management system</p>
        <a href="/about">About us</a>
        <a href="/competences">Our Competences</a>
        <a href="/contact">Contact us</a>
      </div>
    </div>
  </footer>
</body>
</html>