<div class="tabbable tabs-left" >
  <ul class="nav nav-tabs " id = "id1">
    <li><%=link_to "Pages", pages_path %></li>
  </ul>
  <div class="tab-content" align= "center">

<h2>Pages: List</h2>
<table width="70%" border="1" cellspacing="0" cellpadding="3" background="#c0c0c0">
	
	<tr align= "left">
		<th> Title</th>
		<th> Published </th>
		<th> Last changed </th>
	</tr>
	
	<% @pages.each do |i| %>
	
	<tr align="left" valign= "">
		<td width ="50%"><%= i.title %> </td>
		<td width ="20%"><%= check_box_tag :publsihed, true, false %></td>
		<td width ="30%"><%= i.updated_at.strftime("%d/%m/%y %l:%M %p")  %> </td>
	</tr>

<% end %>

</table>

  </div>
</div>

