<%= render 'pages/header' %>
<%= form_for(@page) do |page| %>
  <div class="wrap action">
    <div class="wrap-in">
      <div class="action-bar">
        <div class="action-buttons">
          <button id="action-apply" class="btn btn-success" name="apply">Apply</button>
          <button id="action-view" class="btn btn-success" name="view">View</button>
          <button id="action-save" class="btn btn-success" name="save">Save</button>
          <button id="action-cancel" class="btn btn-success" name="cancel">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <section class="wrap main">       
    <section class="wrap-in">
      <nav class="sidebar">
        <ul id="navigation">
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">My account</a></li>
          <li class="active"><a href="#">Pages</a></li>
          <li><i class="sidebar-icon"></i>Security</li>
          <ul>
            <li><a href="#">Users</a></li>
            <li><a href="#">Roles</a></li>
            <li><a href="#">Capabilities</a></li>
          </ul>
          <li><a href="#">Competences</a></li>
          <li><a href="#">Groups</a></li>
          <li><a href="#">Company</a></li>
        </ul>
      </nav>    
      <section class="mainside">
        <div class="tabbable">
          <ul class="nav nav-tabs" id="pageTabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Properties</a></li>
            <li><a href="#tab2" data-toggle="tab">Content</a></li>
          </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab1">
                <div class="form">
                  <div class="form-row">
                    <div class="form-cell">Page title</div>
                    <div class="form-cell">
                      <input id="name" name="page[page_title]" data-content="Use only English alphabet letters of both cases, digits,
                      punctuation marks like . , : ; - _. Minimum 3 and maximum 50 symbols" 
                      type="text" value="" maxlength="50" autocomplete="off"/>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-cell">&nbsp;</div>
                    <div class="form-cell error-box" id="nameValidate">
                      <div class="validLetters" data-condition="^[A-Za-z0-9.,_;:\ \-]+$">
                        Use only English alphabet letters of both cases, digits, punctuation marks like . , : ; - _
                      </div>
                      <div class="uniqueness" data-condition="null">The name is not unique</div>
                      <div class="minLength" data-condition="3">You must have at least 3 symbols</div>
                      <div class="maxLength" data-condition="50">You can type in 50 symbols maximum</div>
                      <div class="lettersCount" data-condition="[A-Za-z]+">You must have at least one letter</div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-cell">URL</div>
                    <div class="form-cell">
                      <input id="url" name="page[page_url]" data-content="Use English alphabet
                      letters of lower case, digits, punctuation marks like - _ only. URL must be unique" 
                      data-div="urlError" type="text" value=""/>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-cell">&nbsp;</div>
                    <div class="form-cell error-box" id="urlValidate">
                      <div class="validLetters" data-condition="^/((\w|[-])+/?)+$">
                        Please enter valid data to the URL field
                      </div>
                      <div class="uniqueness" data-condition="">Page with this url already exist</div>
                            </div>
                  </div>
                  <div class="form-row">
                    <div class="form-cell">Keywords</div>
                    <div class="form-cell">
                      <input id="keywords" name="page[keywords]" data-content="Use English
                      alphabet letters of lower case, digits, punctuation marks as .- only and separate
                      keywords by commas" type="text" value=""/>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-cell">&nbsp;</div>
                    <div class="form-cell error-box" id="keywordsValidate">
                      <div class="validLetters" data-condition="^[a-z0-9.,-]+$">
                        Use English alphabet letters of lower case, digits, punctuation marks as .
                        - only and separate keywords by commas
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-cell">Description</div>
                    <div class="form-cell">
                      <textarea id="description" name="page[description]" maxlength="200"
                      data-content="Use only English alphabet letters of both cases, digits,
                      punctuation marks like . , : ; - _. Maximum 200 symbols."></textarea>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-cell">&nbsp;</div>
                    <div class="form-cell error-box" id="descriptionValidate">
                      <div class="validLetters" data-condition="^[A-Za-z0-9.?!,_;:\ \-]+$">
                        Use only English alphabet letters of both cases, digits, punctuation marks like . , : ; - _
                      </div>
                      <div class="maxLength" data-condition="200">You can type in 200 symbols maximum</div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-cell">Parent page</div>
                    <div class="form-cell">
                      <div class="btn-group bootstrap-select">
                        <button data-toggle="dropdown" class="btn dropdown-toggle" type="button" data-id="page-type">
                          <span class="filter-option pull-left">None</span>&nbsp;
                          <span class="caret"></span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="form-row empty"></div>
                  <div class="form-row">
                    <div class="form-cell">Page type</div>
                    <div class="form-cell">
                      <div class="btn-group bootstrap-select">
                        <button data-toggle="dropdown" class="btn dropdown-toggle" type="button" data-id="page-type">
                          <span class="filter-option pull-left">None</span>&nbsp;
                          <span class="caret"></span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="form-row empty"></div>
                  <div class="form-row">
                    <div class="form-cell">Display at top</div>
                    <div class="form-cell">
                      <input type="checkbox" value="true" name="properties['show in top menu']" id="displayTop">
                      <label for="displayTop"></label>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-cell">Display at bottom</div>
                    <div class="form-cell">
                      <input type="checkbox" value="true" name="properties['show in bottom menu']" id="displayBottom">
                      <label for="displayBottom"></label>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-cell">Publish a page</div>
                    <div class="form-cell">
                      <input type="checkbox" value="true" name="page[published]" id="publish">
                      <label for="publish"></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </section>
    </section>
  </section>
  <% end %>
  <%= render 'pages/footer' %>