// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* action-bar */
.action {
  border-bottom: 1px solid #4dae3b;
  height: 50px;
}

.action-bar {
  display: inline-block;
  padding: 6px 0;
  position: absolute;
  right: 0px;
}
.action-bar input {
  height: 30px;
}
.action-buttons {
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  padding: 3px;
}
.action-buttons button {
  min-width: 115px;
}

/* sidebar */
.sidebar {
  width: 240px;
  float: left;
  padding: 10px 0 10px 0;
}

.sidebar > ul {
  margin: 0;
  padding: 3px 3px 0;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  list-style: none;
}

.sidebar li {
  height: 32px;
  line-height: 32px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 0 0 3px 0;
  width: 100%;
  text-align: left;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
}

.sidebar li a,
.sidebar li span {
  font-size: 14px;
  color: #003;
  padding: 0 20px;
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

.sidebar li:hover,
.sidebar li.active {
  background: #58b059;
  border: 1px solid #58b059;
}

.sidebar li:hover a,
.sidebar li:hover,
.sidebar li.active a,
.sidebar li.active {
  color: #fff;
  text-decoration: none;
}
.sidebar ul ul {
  display: none;
  padding: 0;
  list-style: none;
  margin: 0 0 3px 0;
}

.sidebar ul li.active + ul {  
  display: block;
}

.sidebar ul ul li {
  background: none;
  border: 0;
}
.sidebar ul ul li:hover,
.sidebar ul ul li.active {
  background: #d2d2d2;
  border: 0;
}
.sidebar ul ul li a {
  padding: 0 0 0 35px;
}
.sidebar ul ul li:hover a,
.sidebar ul ul li.active a {
  color: #000;
}
.sidebar i.sidebar-icon {
  display: inline-block;
  background: url('/assets/sidebar-icon.png');
  height: 14px;
  width: 14px;
  margin: 0 10px 0 10px;
}

.sidebar li:hover i.sidebar-icon,
.sidebar li.active i.sidebar-icon {
  background: url('/assets/sidebar-icon.png') 0 -15px;
  height: 9px;
}

/* list */

.list {
  display: table;
  width: 100%;
  border-collapse: collapse;
}
.list p {
  margin: 0;
  display: inline-block;
  cursor: pointer;
}
.list-head {
  display: table-header-group;
  font-weight: bold;
}

.list-head .list-row {
  border-bottom: 2px solid #999999;
}

.list-body {
  display: table-row-group;
}

.list-body .list-row {
  border-bottom: 1px solid #c6c6c6;
}

.list-row {
  display: table-row;
  height: 35px;
  line-height: 35px;
}
.list-row .list-cell:first-child {
  padding: 0 0 0 20px;
}
.list-row.active {
  background: #e6e6e6;
}
.list-row.active:hover {
  background: #f5f5f5;
}

.list-cell {
  display: table-cell;
}

.list-cell.id {
  width: 50px;
}

.list-cell.description {
    width: 600px;
}

.list-cell.last {
  width: 125px;
}
.list-cell.object {
  width: 150px;
}

.action-list label {
  width: 135px;
}

.checkbox2 {
  margin-left: 30px;
}
input[type= "checkbox"] {
  margin-bottom: 5px;
}

/*form-constructor*/
/*
 * common form margin from menu bar and manage line
 */
.form-box {
  font-size: 14px;
}

.tab-pane > .form-box {
  margin: 35px 0 0;
  font-size: 14px;
  
}

/*
 *form row, make it like table row
 */
.form-row {
  display: table-row;
  width: 100%;
}

/*
 * emty form row, use it for space behind inputs
 */

.form-empty-row {
  display: table-row;
  overflow: hidden;
  width: inherit;
  clear: both;
  height: 20px;
}
/*
 * form cell, make cell for name field and field content
 */
.form-field-name {
  width: 140px;
  height: 20px;
  padding: 5px 0;
  float: left;
}

.form-field-input {
  float: left;
}

/*
 * common input style
 */
.form-field-input input, .form-field-input textarea {
  width: 300px;
  margin-bottom: 0px;
  resize: none;
}
.form-field-input.small input, .form-field-input.small textarea {
  width: 200px;
}

.form-field-input input.short-input {
  width: 40px;
}

.form-field-input select, .form-field-input div {
  margin-bottom: 0px !important;
}

.form-field-input > label {
  margin-top: 5px;
}
.form-field-input > textarea {
  height: 80px;
}

.form-field-input > .small-input + .bootstrap-select {
  width: 100px;
}
.form-field-input > .color-picker {
  display: inline-block;
  width: 28px;
  height: 28px;
  vertical-align: 3px;
  background: url(../../images/select2.png) -4px -4px;
}

.form-field-input > button.btn {
  width: 30px;
  height: 30px;
  padding: 0;
}

.form-field-input > button:nth-of-type(1) {
  font-weight: bold;
}
.form-field-input > button:nth-of-type(2) {
  font-style: italic;
}
.form-field-input > button:nth-of-type(3) {
  text-decoration: underline;
}
.form-field-input > .color-picker > div {
  display: none !important;
}
.form-field-view {
  word-wrap: break-word;
  max-width: 78%;
}

.form-field-input.scroll {
  height: 280px;
  overflow: hidden;
  width: 82.9%;
  padding: 5px 0 40px;
}
.form-field-input.scroll.full {
  width: 100%;
}

.form-field-input.scroll table, .form-field-input.scroll thead, .form-field-input.scroll tbody {
  display: block;
}

.form-field-input.scroll thead, .form-field-input.scroll tbody {
  position: absolute;
  left: 0;
  right: 0;
}

.form-field-input.scroll table {
  position: relative;
  background-color: transparent;
  width: 100%;
  height: 100%;
  margin: 0px !important;
}
.form-field-input.scroll thead {
  top: -7px;
  height: 37px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}
.form-field-input.scroll tbody {
  top: 30px;
  bottom: 0;
  overflow: auto;
}
.form-field-input.scroll tbody td {
  border-bottom: 1px solid #dddddd !important;
}

.form-field-input.scroll table .capab-name {
  min-width: 120px;
}
.form-field-input.scroll table .description {
  min-width: 335px;
}

/*
 * common error style, error box and field box
 */

.error-box {
  color: #f00;
  height: 40px;
  width: 425px;/*аДаОаБаАаВаЛаЕаНаО*/
}

.error-box div[data-condition] {
  line-height: 12px;
  font-size: 11px;
  display: none;
}

.error-box .validate-error, .error-box .validate-error[data-condition] {
  display: block;
}

.validate-error-input {
  border: 1px solid rgba(236, 0, 0, 0.8) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(236, 0, 0, 0.6) !important;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s !important;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s !important;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s !important;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s !important;
  transition: border linear 0.2s, box-shadow linear 0.2s !important;
}

/*
 * custom elements style
 */
.form-requared {
  color: rgba(254, 0, 0, 1);
}

.object-task {
  width: 400px;
  overflow: hidden;
}

.all-capab-task-list {
  float: left;
  width: 200px;
  padding: 6px 0 0 0;
}

.checkbox-label, .checkbox-input, .form-field-view {
  padding: 5px 0;
  float: left;
}

.capab-left-task {
  float: left;
}

.capab-task-list {
  float: left;
  width: 160px;
}

.hidden-task {
  display: none;
}

/*
 * styles for type of border, used on form style
 */
.solid {
  background: url(../../images/contourStyles.png) 50px -6px no-repeat;
}
.dotted {
  background: url(../../images/contourStyles.png) 50px -37px no-repeat;
}
.dashed {
  background: url(../../images/contourStyles.png) 50px -66px no-repeat;
}
.double {
  background: url(../../images/contourStyles.png) 50px -105px no-repeat;
}
.groove {
  background: url(../../images/contourStyles.png) 50px -140px no-repeat;
}
.ridge {
  background: url(../../images/contourStyles.png) 50px -172px no-repeat;
}
.inset {
  background: url(../../images/contourStyles.png) 50px -205px no-repeat;
}
.outset {
  background: url(../../images/contourStyles.png) 50px -245px no-repeat;
}

.form textarea, .form input[type="text"], .form input[type="tel"], .form input[type="email"], .form input[type="password"] {
  display: inline-block;
  height: 30px;
  margin: 0;
  width: 210px;
}
.form select {
  display: inline-block;
  margin: 0;
  width: 315px;
}
.form .form-cell label {
  display: inline-block;
  margin: 0;
  width: 135px;
}
.form input.large {
  width: 400px;
}
.form input[type="file"] {
  display: none;
}

.form textarea {
  width: 400px;
  height: 80px;
  resize: none;
}
.form .input-append input {
  width: 260px;
}

.form-row.empty {
  height: 30px;
}
.form-cell {
  display: table-cell;
}

.form-cell div.btn-group {
  margin: 0;
}
.form-cell div.btn-group.small {
  margin: 0;
  width: 71px;
}
.form-row-group {
  display: table-row-group;
}
.form-row .required:after {
  content: '*';
  color: red;
}

.form h3 {
  border-bottom: 1px solid #ccc;
  margin: 15px 0;
  padding: 0 0 0 5px;
  font-style: italic;
  font-size: 16px;
}
.form h3 i {
  margin: 2px 0 0 5px;
  display: inline-block;
}
.form h3 div {
  font-style: normal;
}

.form .form-block {
  display: block;
  overflow: hidden;
}

.form .avatar {
  height: 150px;
  width: 150px;
  padding: 5px;
  border: 1px solid #ccc;
  float: left;
  margin: 0 32px 0 0;
}

.form .avatar-button {
  height: 20px;
  padding: 0 5px;
  margin: 3px 0 0 25px;
}
.form .object-task {
  width: 500px;
}
.form .object-task label {
  width: 200px;
}

.nav-tabs {
  height: 38px;
}
.tabbable {
  margin: 0;
}

.nav-tabs > li > a {
  border-bottom: 0;
}

.action-bar > form {
     display: inline-block;
}



table.datagrid  {
  width: 100%;
}
.datagrid .id {
  padding-left: 10px;
  width: 40px;
}
.datagrid thead {
  font-weight: bold;
}
.datagrid tr {
  border-bottom: 1px solid #999;
  height: 35px;
  line-height: 35px;
}
.datagrid tbody tr {
  border-bottom: 1px solid #c6c6c6;
}
.datagrid tr.active {
  background: #e6e6e6;
}
.datagrid tr.active:hover {
  background: #f5f5f5;
}
.order {
  display: inline-block;
}
.order a {
  color: #000;
  text-decoration: none;
}
.datagrid  .page_title {
  display: inline-block;
}
.datagrid  .published {
  text-align: left;
  width: 150px;
}
.datagrid .updated_at {
  text-align: left;
  width: 155px;
}

input[type="checkbox"] {
  background: url(//checkbox.png) 0 -34px;
  color: transparent;
  display: none;
  content: '.';
  height: 17px;
  margin: 0 20px 0 0;
  width: 17px;
}
table .id {
  width: 37px;
}

.datagrid tbody td > input[type="checkbox"],
input[type="checkbox"] + label {
  cursor: pointer;
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}

/* checkboxes*/

input[type="checkbox"]:disabled + label {
  cursor: default;
}

input[type="checkbox"] + label:before {
  background: url(../../images/checkbox.png) 0 -34px;
  color: transparent;
  display: inline-block;
  content: '.';
  height: 17px;
  margin: 0 20px 0 0;
  width: 17px;
}

input[type="checkbox"] + label:hover:before {
  background-position: 0 0;
}

input[type="checkbox"]:checked {
  background-position: 0 -51px;
}

input[type="checkbox"]:checked:hover:before {
  background-position: 0 -17px;
}

input[type="checkbox"]:disabled + label:before,
input[type="checkbox"]:disabled + label:hover:before {
  background-position: 0 -68px;
}

input[type="checkbox"]:checked:disabled + label:before,
input[type="checkbox"]:checked:disabled + label:hover:before {
  background-position: 0 -85px;
}