@import "bootstrap";

/* mixins, variables, etc. */


@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


html {
  overflow-y: scroll;
}

body {
  padding-top: 70px;
  
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {                   
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


h2 {
  margin-left: 150px;
}

/* header */

#logo {                         
  float: left;
  margin-left: -120px;
  padding-right: 17px;
  font-size: 2.0em;
  color: #C0C0C0;
  letter-spacing: -1px;
  padding-top: 15px;
  font-weight: bold;
  line-height: 2;
  &:hover {                               
    color: #FFFFFF; 
    text-decoration: none;
  }
}





footer {
  margin-top: 150px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
 
  small {
    float: right;
    margin-right: 20px;
  }
}


table {
  margin-left: 50px
}

#my_element {

  margin-left: 400px;
  margin-right: 400px;
  margin-top: 50px;
}
