@import "bootstrap";


/* header */

.header-top {
  background: #999; 
  line-height: 50px;
  color: #fff;
  height: 50px;
  border-bottom: 1px solid #4dae3b;
  padding: 0 10px;
}
.header-bottom {
  background: #e6e6e6;
  height: 100px;
  border-bottom: 1px solid #4dae3b;
  padding: 0 10px;
}

/* footer */

.footer {
  margin-bottom: -5px;
  padding-top: 5px;
  height: 50px;
  border-top: 1px solid #4dae3b;
  background: #999;
}

.footer-block {
  margin-right: 30px;
  text-align: right;
  line-height: 50px;
}

.footer-block a {
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}

.footer-block a:hover {
  text-decoration: underline;
}



#pagination {
  margin-left: 290px;
  margin-top: 30px;
}




html, body {
  height: 100%;
  font-family: Tahoma, Arial, Helvetica;
  font-size: 14px;
}

.wrap-in {
  display: table;
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
  width: 100%;
}

.wrap {
  min-width: 1024px;
  width: 100%;
}

.main {
  height: auto !important;
  height: 100%;
  min-height: 100%;
}

.mainside {
  margin: 0 0 0 240px;
  padding: 10px 0 0 50px;
  position: relative;
  
}

#error_explanation {
  color: #FF0000 ;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
  }