@import "bootstrap";


/* header */

.header-top {
  background: #999; 
  line-height: 50px;
  color: #fff;
  height: 50px;
  border-bottom: 1px solid #4dae3b;
  padding: 0 10px;
}
.header-bottom {
  background: #e6e6e6;
  height: 100px;
  border-bottom: 1px solid #4dae3b;
  padding: 0 10px;
}

/* footer */

.footer {
  height: 50px;
  border-top: 1px solid #4dae3b;
  background: #999;
}

.footer-block {
  margin-right: 30px;
  text-align: right;
  line-height: 50px;
}

.footer-block a {
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}

.footer-block a:hover {
  text-decoration: underline;
}



#pagination {
  margin-left: 330px;
  margin-top: 50px;
}


/* attribute tittle */

.title {
  margin-top: 50px;
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.title-label {
  float: left;
  width: 100px;
  }

.title-field {
  margin-left: 100px;
}

.title-field input {
  width: 58%;    
}


/* attribute URL */
.page_url {
  margin-top: 30px;
}

.page_url-label {
  float:left;
  width: 100px;
}
.page_url-label input {
  width: 100px;
}

/* attribute keywords */
.keywords {
  margin-top: 30px;
}

.keywords-label {
  float:left;
  width: 100px;
}
.keywords-label input {
  width: 100px;
}

/* attribute description */
.description {
  margin-top: 30px;
}

.description-label {
  float:left;
  width: 100px;
}
.description-label input {
  width: 100px;
}

/* attribute page_type*/
.page_type {
  margin-top: 50px;
}

.page_type-label {
  float: left;
  width: 100px;
}

.page_type-select input {
  width: 100%;
}

/* attribute parent page */

.parent_page {
  margin-top: 50px;
}

.parent_page-label {
  float: left;
  width: 100px;
}

.parent_page-select input {
  width: 70%;

}


/* display at the menu */
.display_at_the_menu {
  margin-top: 150px;
}

.topmenu-label {
  margin-top: -97px;
}
.botmenu-label{
  margin-top: 30px;
}

/*published*/
.published {
  margin-top: 30px;
  margin-left: 199px;
}
.published-label {
  float: left;
}




.tabbable {
  margin-left: 200px;
  margin-right: 100px;
}


.buttons {
  margin-top: -50px;
  margin-bottom: 50px;
  margin-right: 100px;
  float: right;
}


