// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  margin-top: 30px;
  float: center;
  margin-left: 300px;
  width: 70%;
  border: 1px solid black;
  cellspacing: 0;
  cellpadding: 3;
  border-collapse: collapse;
  th { 
    text-align: center;
    padding: 5px; 
    border: 1px solid #c6c6c6;
  }
  
  td { 
    padding: 5px;
    border: 1px solid #c6c6c6;
   }
}

/* action-bar */
.action {
  border-bottom: 1px solid #4dae3b;
  height: 50px;
}

.action-bar {
  margin-right: 85px;
  display: inline-block;
  padding: 6px 0;
  position: absolute;
  right: 0px;
}
.action-bar input {
  height: 30px;
}
.action-buttons {
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  padding: 3px;
}
.action-buttons button {
  min-width: 115px;
}

/* sidebar */
.sidebar {
  margin-left: 30px;
  width: 240px;
  float: left;
  padding: 10px 0 10px 0;
}

.sidebar > ul {
  margin: 0;
  padding: 3px 3px 0;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  list-style: none;
}

.sidebar li {
  height: 32px;
  line-height: 32px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 0 0 3px 0;
  width: 100%;
  text-align: left;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
}

.sidebar li a,
.sidebar li span {
  font-size: 14px;
  color: #003;
  padding: 0 20px;
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

.sidebar li:hover,
.sidebar li.active {
  background: #58b059;
  border: 1px solid #58b059;
}

.sidebar li:hover a,
.sidebar li:hover,
.sidebar li.active a,
.sidebar li.active {
  color: #fff;
  text-decoration: none;
}
.sidebar ul ul {
  display: none;
  padding: 0;
  list-style: none;
  margin: 0 0 3px 0;
}

.sidebar ul li.active + ul {  
  display: block;
}

.sidebar ul ul li {
  background: none;
  border: 0;
}
.sidebar ul ul li:hover,
.sidebar ul ul li.active {
  background: #d2d2d2;
  border: 0;
}
.sidebar ul ul li a {
  padding: 0 0 0 35px;
}
.sidebar ul ul li:hover a,
.sidebar ul ul li.active a {
  color: #000;
}
.sidebar i.sidebar-icon {
  display: inline-block;
  background: url('/assets/images/sidebar-icon.png');
  height: 14px;
  width: 14px;
  margin: 0 10px 0 10px;
}

.sidebar li:hover i.sidebar-icon,
.sidebar li.active i.sidebar-icon {
  background: url('/assets/images/sidebar-icon.png') 0 -15px;
  height: 9px;
}

/* list */

.list {
  margin-left: 350px;
  display: table;
  width: 70%;
  border-collapse: collapse;
}
.list p {
  margin: 0;
  display: inline-block;
  cursor: pointer;
}
.list-head {
  display: table-header-group;
  font-weight: bold;
}

.list-head .list-row {
  border-bottom: 1px solid #999999;
}

.list-body {
  display: table-row-group;
}

.list-body .list-row {
  border-bottom: 1px solid #c6c6c6;
}

.list-row {
  display: table-row;
  height: 35px;
  line-height: 35px;
}
.list-row .list-cell:first-child {
  padding: 0 0 0 20px;
}
.list-row.active {
  background: #e6e6e6;
}
.list-row.active:hover {
  background: #f5f5f5;
}

.list-cell {
  display: table-cell;
}

.list-cell.id {
  width: 40px;
}

.list-cell.description {
    width: 600px;
}

.list-cell.last {
  width: 125px;
}
.list-cell.object {
  width: 150px;
}

.action-list label {
  width: 135px;
}