%header.wrap.header
  .header-top
    .wrap-in
      .user-name
        Welcome, Peter
  .header-bottom
    .wrap-in
      %a{href: root_path}
        %img{alt: "logo", height: "96", src: "/images/companyLogo.png", width: "317"}