%section.wrap.main
  %section.wrap-in
    %nav.sidebar
      %ul#navigation
        %li
          %a{href: "#"} Dashboard
        %li
          %a{href: "#"} My account
        %li.active
          %a{href: pages_path} Pages
        %li
          %i.sidebar-icon>
          Security
          %ul
            %li
              %a{href: "#"} Users
            %li
              %a{href: "#"} Roles
            %li
              %a{href: "#"} Capabilities
        %li
          %a{href: "#"} Competences
        %li
          %a{href: "#"} Groups
        %li
          %a{href: "#"} Company